{% for w in worlds %}
{% if loop.index0 % 3 == 0 %}
<div class='row'>
{% endif %}
    <div class='col-sm-4'>
        <div class="card">
            <a target="_blank" href="{{ w['launch_url'] }}"><img class="card-img-top" src="{{ w['thumbnail_image_url'] }}"></a>
            <div class="card-body">
                <h5 class="card-title">
                    <a target="_blank" href="{{ w['launch_url'] }}">
                    {% if w['name']|length > 32 %}
                        {{ w['name'][:32] }}...
                    {% else %}
                        {{ w['name'] }}
                    {% endif %}
                    </a>
                </h5>
                <h6 class="card-subtitle">{{ w['author_name'] }}</h6>
                <hr/>
                <p class="card-text">
                    {% if w['description']|length > 96 %}
                        {{ w['description'][:96] }}...
                    {% else %}
                        {{ w['description'] }}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% if loop.index0 % 3 == 2 or w['is_last'] %}
</div><br/>
{% endif %}

{% endfor %}
