{% extends "layout.html" %}
{% block content %}
<div class="mx-auto col-12">

    <div class="card">
        <h5 class="card-header">検索</h5>
        <div class="card-body">
            <form action="/status" method="POST">
                <div class="input-group mb-3">
                    <input type="text" name="content" class="form-control" placeholder="keywords" aria-label="..." aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <input type="submit" id="button-addon2" class="btn btn-outline-secondary" value="検索開始" />
                    </div>
                </div>
            </form>
        </div>
    </div><br/>

    <div class="card">
        <h5 class="card-header">流行り</h5>
        <div class="card-body">
            {% if error %}
                <big>{{ error }}</big>
            {% endif %}
            <table class="table">
            {% for w in worlds %}
                <tr>
                    <td><img src="{{ w['thumbnail_image_url'] }}" width="256px" /></td>
                    <td>
                        <big><a target="_blank" href="{{ w['launch_url'] }}">{{ w['name'] }}</a></big><br/>
                        {{ w['author_name'] }} <br/>
                        {{ w['description'] }} <br/>
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>

</div>
{% endblock %}
