{% extends "layout.html" %}
{% block content %}
<div class="mx-auto container">

    {% include "_header.html" %}

    {% if not mode %}
    <div class="card">
        <div class="card-body">
            <form id="all" action="/search" method="GET">
                <div class="input-group mb-3">
                    <input type="text" name="q" value="{{ q }}" class="form-control" placeholder="keywords" aria-label="..." aria-describedby="button-addon1">
                    <div class="input-group-append">
                        <input type="submit" id="button-addon1" class="btn btn-dark" value="{{ _('search.search') }}" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <br/>
    {% endif %}

    <br/>
    {% include "_searched_worlds.html" %}

    <br/>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4">
                    {% if p > 0 %}
                    <a class="btn bnt-lg btn-dark float-left" href="/search?q={{ q }}&p={{ p -1 }}{% if mode %}&mode={{ mode }}{% endif %}"> {{ _('search.previous') }} </a>
                    {% endif %}        
                </div>
                <div class="col-sm-4 text-center">
                    <a class="btn bnt-lg btn-dark" href="/"> {{ _('search.top') }} </a>
                </div>
                <div class="col-sm-4">
                    {% if next %}
                    <a class="btn bnt-lg btn-dark float-right" href="/search?q={{ q }}&p={{ next }}{% if mode %}&mode={{ mode }}{% endif %}"> {{ _('search.next') }} </a>
                    {% endif %}                            
                </div>
            </div>
        </div>
    </div>

    {% include "_footer.html" %}

</div>
{% endblock %}
