{% extends "layout.html" %}
{% block content %}
<div class="mx-auto container">

    {% include "_search_core.html" %}

    {% if error %}
    <big>{{ error }}</big>
    {% endif %}

    <br/>
    {% include "_searched_worlds.html" %}

    {% if next %}
    <br/>
    <div class="card">
        <div class="card-body">
            <a class="btn bnt-lg btn-dark" href="/search?query={{ query }}&offset={{ next }}&mode={{ mode }}"> {{ _('search.more') }} </a>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
