{% extends "layout.html" %}
{% block content %}
<div class="m-auto container">
    <br/>
    <div class="card bg-light">
        <div class="card-body mx-auto">
            <a href="./">{{ _('search.title') }}</a>
        </div>
    </div>
    <br/>

    {% include "_search_core.html" %}

    <br/>
    <div class="card bg-light">
        <div class="card-body mx-auto">
            {{ _('search.trends') }}
        </div>
    </div>

    <br/>
    {% include "_searched_worlds.html" %}

    <br/>
    <div class="card">
        <div class="card-body">
            <a class="btn bnt-lg btn-dark" href="/search?query=&offset=12&mode=new_coming"> {{ _('search.more') }} </a>
        </div>
    </div>

</div>
{% endblock %}
