{% extends "layout.html" %}
{% block content %}
<div class="m-auto container">
    <br/>
    <br/>
    <br/>

    <div class="card">
        <h5 class="card-header">VRChat内を検索</h5>
        <div class="card-body">
            <form action="/search" method="GET">
                <div class="input-group mb-3">
                    <input type="text" name="query" class="form-control" placeholder="keywords" aria-label="..." aria-describedby="button-addon2" value="{% if query %}{{ query }}{% endif %}">
                    <div class="input-group-append">
                        <input type="submit" id="button-addon2" class="btn btn-dark" value="検索開始" />
                    </div>
                </div>
            </form>
        </div>
    </div><br/>

</div>
{% endblock %}
